
 
body, #root, .storyStream, ._2v9s, ._4nmh, ._4u3j, ._35aq, ._146a,
._4g34, ._5pxb, ._55wq, ._53_-, ._55ws, ._u42, .jx-result,
.jx-typeahead-results, ._56bt,
._52x7, ._vqv, ._4g33, ._5rgt, .flyout,
#m_newsfeed_stream,
._55wo, ._3iln, .mentions-suggest,
#header, ._xy, ._bgx,
.acb, .acg, .aclb, textarea,
._59e9, .nontouch ._5ui0,
input[type=text],
.acw, ._5up8, ._5kgn,
.tlLinkContainer, .aps,
.jewel .flyout .header, .appCenterCategorySelectorButton,
.tlBody, #timelineBody, .timelineX, .timeline .feed, .timeline .tlPrelude, .timeline .tlFeedPlaceholder,
.touch ._5c9u, .touch ._5ca9, .innerLink,
._5dy4, ._52x3, #m_group_stories_container, .albums, .subpage,
._uwu, ._uww, .scrollAreaBody, .al, .apl, .structuredPublisher, .groupChromeView,
._djv, ._bjg, ._5kgn, ._3f50, ._55wm, ._58f0 {
  background: #272822 !important;
  
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
   -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
 
   
}


._52z5 {
    background: #272822;
    box-sizing: border-box;
    height: 44px;
    margin: 0 auto;
    padding: 7px 0;
    position: relative;
    width: 100%;
    z-index: 12;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}


.profpic {
border: none !important;
border-radius: 200px !important;
}



.profileName{
color: #61cfb2 !important;
}

._50cg._2ss {
  background: #272822 !important;
}
.composerLinkText, .fcg {
  color: #b98ebd !important;
}

/* white text */

body,textarea,
.composerTextSelected,
.composerInput, .mentions-input,
input[type=text], ._5001,
.timeline .cover .appListTitle, ._52jd, ._52jb, ._52jg, ._5qc3,
._5379, ._5cqn, ._592p, ._3c9l, ._4yrh, .name, .btn, .upText,
._5rgt, ._52x2, ._52jh, ._52ja, ._56bz, ._2tbu, ._1mwn, ._55sr, ._5t6r,
._1_oe, ._52lz, ._2l5v {
  color: #d2d2d2 !important;
}

.tlActorText, .tlLinkTitle {
 color: #d2d2d2 !important;
}

.tlLinkTitleOnly{
 color: #61cfb2 !important;
}

/* blue link text */

.mfsl, .fcw, ._5aw4, ._vqv, ._5yll, ._5qc3,
._52lz, ._4nwe, ._27vp, ._ir4, ._5wsv, ._46pa {
  color: #61cfb2 !important;
}

.actor {
  color: #bfb14b !important;
  
}

.title {
 color: #bfb14b !important;
  
}

a {
  color: #c5c2b5 !important;
  
}

.blueName {
color: #e6ae74
}

/* dark important */

.acy,
.nontouch ._55mb .actor-link,
.nontouch a.btnD,
.inlineMedia.storyAttachment {
  background: #63d1bc !important;
}
.statusBox, ._5whq, ._56bt,
.composerInput, .mentions-input, ._1svy,
._bji {
  background: #3e3d32 !important;
}
.ufiBorder, ._5as0, ._5ef_, ._35aq {
  border-color: #555 !important;
}

/* buttons */

.button>a.touchable, .btn, .touch ._5c9u, ._2l5v,
._52x1, ._tn0, ._52ja, ._5lm6 {
  background: #272822 !important;
}
.flyout {
  border: 1px solid #272822!important;
}

/* context menu */

._5c0e, ._5bn_ {
  background: #272822 !important;
}
._4o50, .acw,
._53_-, ._3wjp, ._usq, ._55wq, ._400s{
  border: 0px dotted #272822 !important;
  border-radius: 4px;
}
._1_oa, ._bmx, ._52x1 {
  border-bottom: 0px dotted #272822 !important;
}
article h3 {
  color: #7c9ecb !important;
}

article {
color: #7c9ecb !important;
}

/* no border */
.aclb, ._53_-, ._52x6, ._52x1, ._2l5v,
._tn0, ._52ja, ._5lm6 {
  border-top: 0px;
  border-bottom: 0px;
  
._35aq, .d4i, ._4-cr {
  
  background: #00000 !important;
}

._54k8, ._56bs, ._56bu {
  
  background: #00000 !important;
}
